/* You can add global styles to this file, and also import other style files */

.title {
    background-color: #fec23d
}

.producte {
    padding-bottom: 15px !important;
    background-color: #FFDB84 !important;
    font-size: 12px;
}

.producte-title {
    background-color: #FFB400 !important;
}

.col {
    background-color: #fec23d
}

.client {
    padding-bottom: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div {
    width: 100px;
    height: 100px;
}